
footer {
    width: 100%;
    background-color: #8f87e3;
}

.footerContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}



a {
    color: #fff;
}

p {
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    .footerContainer {
        flex-direction: column; 
    }

    .footerContainer div {
        margin: 2em 0;
    }
}