
footer {
    display: flex;
    justify-content: space-between;
    background-color: #8f87e3;
    padding: 40px 50px;
    color: #fff;
}

div {
    text-align: center;
}

a {
    color: #fff;
}

p {
    font-size: 0.8em;
}