
<div class="wrapper">
<footer>
    <div class="footerContainer">
    <div>
        <strong>Telefon:</strong><br>
        <a href="tel:+46100000000">+46 (0)10-000 00 00</a>
        <p>Måndag - fredag kl. 8-16</p>
    </div>

    <div>
        <strong>E-post:</strong><br>
        <a href="mailto:kontakt@nial.se">kontakt&#64;nial.se</a>
        <p>Vi svarar på e-post inom tre arbetsdagar</p>
    </div>

    <div>
        <strong>Besök- och leveransadress:</strong>
        <p>Midnattsgatan 14</p>
        <p>32121 Göteborg</p>
    </div>
</div>
</footer>
</div>