#tableContainer {
    max-width: 1370px;
    width: 100%;
    margin: 10px auto 50px;
}

#table {
    max-height: 600px;
    max-width: 1000px;
    width: 100vw;
    overflow-x: hidden;
}

table {
    position: relative;
    width: 100%; 
    table-layout: auto; 
    border-collapse: collapse; 
}

th, td {
    word-wrap: break-word; /* Bryt ord för att förhindra att celler blir för breda */
}

mat-paginator {
    margin-top: 20px;
}

#filter {
    width: 50%;
}

#subject {
    width: 50%;
}

.mat-elevation-z8 {
    box-shadow: none !important;
}

button {
    background-color: #bb0909;
    padding: 0.02em 0.5em;
    color: #fff;
    border: none;
    transition: 0.3s ease;
}

button:hover {
    background-color: #850a0a;
    cursor: pointer;
}

#removeBtn {
    font-size: 26px;
}

@media screen and (max-width: 1140px) {
    .subject {
        display: none;
    }
}


@media screen and (max-width: 812px) {
    .courseCode {
        display: none;
    }

    th, td, button {
        font-size: 90%;
    }

}

@media screen and (max-width: 415px) {

    th, td, button {
        font-size: 9px;
    }

    #removeBtn {
        font-size: 18px;
    }

    .points {
        max-width: 65px;
    }

    .action {
        min-width: 70px;
    }

}
