<div id="tableContainer">

  <div id="table">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Kurskod kolumn -->
      <ng-container matColumnDef="courseCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="courseCode"> Kurskod </th>
        <td mat-cell *matCellDef="let element" class="courseCode"> {{element.courseCode}} </td>
        <td mat-footer-cell *matFooterCellDef class="courseCode"></td>
      </ng-container>

      <!-- Kursnamn kolumn -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="courseName"> Kursnamn </th>
        <td mat-cell *matCellDef="let element"  class="courseName"> {{element.courseName}} </td>
        <td mat-footer-cell *matFooterCellDef class="courseName"></td>
      </ng-container>

      <!-- Ämne kolumn -->
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="subject"> Ämne </th>
        <td mat-cell *matCellDef="let element"  class="subject"> {{element.subject}} </td>
        <td mat-footer-cell *matFooterCellDef class="subject"></td>
      </ng-container>

      <!-- Poäng kolumn -->
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header  class="points"> Poäng </th>
        <td mat-cell *matCellDef="let element"  class="points"> {{element.points}} </td>
        <td mat-footer-cell *matFooterCellDef class="points">Totalt:<br> {{getTotalPoints()}} hp</td>
      </ng-container>

      <!-- Kursplan kolumn -->
      <ng-container matColumnDef="syllabus">
        <th mat-header-cell *matHeaderCellDef  class="syllabus"> Kursplan </th>
        <td mat-cell *matCellDef="let element"  class="syllabus">
          <a [href]="element.syllabus" target="_blank">Kursplan</a>
        </td>
        <td mat-footer-cell *matFooterCellDef class="syllabus"></td>
      </ng-container>

      <!-- Ta bort kolumn -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="action"> Ta bort</th>
        <td mat-cell *matCellDef="let element" class="action">
          <button id="removeBtn" (click)="removeCourse(element.courseCode)">-</button>
        </td>
        <td mat-footer-cell *matFooterCellDef class="action"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
</div>