<div class="textOnImageContainer">
    <div class="bgImage"></div>
    <div class="textBox">
        <h2>Gemenskap och välmående lägger grunden för en framgånsrik studietid</h2>
        <p>På Nordic Institute of Advanced Learning är studenternas trivsel vår högsta prioritet. Vårt campus erbjuder
            moderna faciliteter, bekväma boenden och en mängd sociala aktiviteter för att skapa en inspirerande och
            stödjande miljö. Studenterna kan delta i olika klubbar och föreningar, vilket främjar gemenskap och
            personlig utveckling. Vi strävar efter att varje student ska känna sig välkommen och värdefull. Hos oss är
            du inte bara en student – du är en del av NIAL-familjen.</p>
    </div>
</div>