.bgImage {
    min-height: 600px;
    background-image: url("/assets/student.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.textBox {
    background-color: #2e2877;
    max-width: 550px;
    width: 100%;
    margin: -110px 50px 80px 50px;
    padding: 50px;
}

h2 {
    margin-bottom: 15px;
    color: #fff;
}

p {
    color: #fff;
}

@media screen and (max-width: 660px) {

    .textBox {
        margin: -110px 20px 80px 20px;
        padding: 20px;
        max-width: 320px;
    }
    

}

@media screen and (max-width: 385px) {

    .textBox {
        margin: -110px auto 80px;
        padding: 20px;
        max-width: 255px;
    }
    

}