h1 {
    text-align: center;
    margin: 60px 0 0 0;
}

.columnText {
    column-count: 2;
    column-gap: 30px;
    max-width: 1050px;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens:auto;
-moz-hyphens:auto;
margin: 40px auto 60px;
}